.checkform {

  &__main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  &__image {
    width: 20%;
    padding: 10% 0% 0% 10%;
  }

  &__form {
    width: 80%;
    padding: 8% 0% 0% 10%;
  }

  &__field {
    width: 100%;
    padding: 2px 2px 2px 2px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form-control:focus{
  border-color: #6c757d;
  box-shadow: 0 0 0 0.07rem #6c757d;
}