.metamask_button_container {
  padding: 3px 3px;
}

.metamask_account_container {
  padding: 7px 0px 0px 0px
}

.btn-outline-info {
  outline: #8c52ff;
  color: #8c52ff;
  border: 2px solid #8c52ff;
  border-radius: 3px;

  &:hover {
    background-color: #8c52ff;
    outline: #8c52ff;
    color: white;
    border: 2px solid #8c52ff;
    border-radius: 3px;
  }
}