.redeemcheck {
  height: 100px;
  left: 20%;
  position: relative;

  &__notification {
    height: 25px;
  }

  &__form {
    width: 70%;
    padding: 5% 0% 0% 0%;
  }

  &__button {
    padding: 1.5% 0% 0% 0%;
  }
}